@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<br />
<br />
<br />
<br />
<br />
<h1 class="text-danger text-center">Oopss....</h1>
<h2 class="text-danger text-center">An error occurred while processing your request. <br /> We are working to fix this problem. <br /> </h2>
<h6 class="text-center"><a asp-action="Index" asp-controller="Home"> click here to go to the home page </a></h6>
<br />
<br />
<br />
<br />
<br />
