@model Order

<!-- Banner Section Begin -->
<section class="banner-section set-bg" data-setbg="img/bluebanner.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="banner__text">
                    <h2>Checkout</h2>
                    <div class="banner__option">
                        <a asp-controller="Home" asp-action="Index">Home</a>
                        <span>Checkout</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br />
<br />
<!-- Banner Section End -->
<!--Payment Cpmpletion Begin-->
<form asp-action="Create" asp-route-userId="@ViewData["UserId"]" method="post" role="form">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div id="wrap">
        <div id="grid">
            <div class="column column1 text-center">
                <div class="step" id="step1">
                    <div class="title">
                        <h4 class="checkout_h4">Name</h4>
                    </div>
                </div>
                <div class="content">
                    <div class="form-group">
                        <input asp-for="UserId" type="text" name="email" value="@ViewData["User"]" data-type="UserId" placeholder="User Id" disabled />
                    </div>
                </div>
                <div class="step" id="step2">
                    <div class="title">
                        <h4 class="checkout_h4">Delivery Info</h4>
                    </div>
                </div>
                <div class="content" id="address">
                    <div class="form-group">
                        <div class="content" id="address">
                            <div class="form-group p-2">
                                <input class="input" placeholder="First Name" />
                            </div>
                            <div class="form-group p-2">
                                <input class="input" placeholder="Last Name" />
                            </div>
                            <div class="form-group p-2">
                                <label for="address">
                                    <input asp-for="ShippingAdress" class="input" placeholder="Shipping Address" />
                                    <span asp-validation-for="ShippingAdress" class="text-danger"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column column2 text-center">
                <div class="step" id="step3">
                    <div class="title">
                        <h4 class="checkout_h4">Shipping</h4>
                    </div>
                </div>
                <div class="content" id="shipping">
                    <p>
                        <input type="radio" id="shipping_1" value="1" /><label for="shipping_1">Free Shipping</label>
                    </p>
                </div>
                <div class="step" id="step4">
                    <div class="title">
                        <h4 class="checkout_h4">Payment</h4>
                    </div>
                </div>
                <div class="content" id="payment label">
                    <div class="content2" id="shipping">
                        <p>
                            <input type="radio" id="shipping_1" value="1" /><label for="shipping_1">Payment on delivery ONLY <br /> by Credit/Cash</label>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column column3 text-center">
            <div class="step" id="step5">
                <div class="title">
                    <h4 class="checkout_h4">Order</h4>
                </div>
            </div>
            <div class="content" id="final_products">
                <div class="right" id="reviewed">
                    <div>
                        <a href="/ShoppingCarts/Index">
                            <button class="btn btn-warning" type="button" style="margin: 5px">Edit Cart</button>
                        </a>
                    </div>
                    <div id="complete">
                        <button class="btn btn-warning" type="submit" id="placeOrder" style="margin: 5px">Complete Order</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<!--Payment Completion End-->

