<br />
<br />
<br />
<br />
<br />
<h1 class="text-center"> @ViewBag.CheckoutCompleteMessage </h1>
<h1 class="text-center"> Your Order Id is: @ViewBag.OrderNumber <br /> </h1>
<h6 class="text-center"><a asp-action="Index" asp-controller="Home"> click here to go to the home page </a></h6>
<br />
<br />
<br />
<br />
<br />