<br />
<br />
<br />
<br />
<br />
<h1 class="text-center"><i class="fas fa-dolly"></i> @ViewBag.CheckoutCompleteMessage </h1>
<h1 class="text-center"> Your Order Id is: <i class="fas fa-hashtag"></i>@ViewBag.OrderNumber <br /> </h1>
<h6 class="text-center"><a asp-action="Index" asp-controller="Home"> click here to go to the home page </a></h6>
<br />
<br />
<br />
<br />
<br />