@model motoShop.Views.Orders.OrderProducts

@{
    ViewData["Title"] = "View";
}
<body style="height:1000px">
    <h1>Order History</h1>
    <!-- SECTION -->
    <div class="section text-center text-lg-center text-xl-center text-md-center text-sm-center">
        <!-- container -->
        <div class="container text-center text-lg-center text-xl-center text-md-center text-sm-center">
            <!-- row -->
            <div class="row text-center text-lg-center text-xl-center text-md-center text-sm-center">

                <div class="col">
                    <div>
                        <partial name="_detailsView" model="@Model" />
                    </div>

                </div>

            </div>
        </div>
    </div>
</body>
