.card {
    width:300px;
    height:541px;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.price {
    color: grey;
    font-size: 22px;
}

.card button {
    outline: 0;
    padding: 12px;
    color: white;
    background-color: slategray;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    border-radius: 10px;
    border-color: black;
    border-width: 1px;
}

    .card button:hover {
        opacity: 0.7;
    }

.bodystyle {
    background-color: white;
    color: #edc709;
}

.zoom {
    background-color: white;
    margin: 0 auto;
    border-width: 1px;
    border-color: black;
}

    .zoom img {
        border-width:1px;
        border-color:black;
        background-color:white;
        transition: 1s all ease-in-out;
    }

    .zoom:hover img {
        transform: scale(5);
    }
