@model motoShop.Models.Users

@{
    ViewData["Title"] = "Access Denied";
}

<h1 class="text-center">Access Denied</h1>

<div class="text-center">
    <a asp-action="Login">Click here</a> to log in.
</div>